html {
  overflow-y: scroll;
}

body {
  font-family: 'Righteous', cursive;
  color: white;
}

nav {
  color: white;
  padding-top: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

.background-img {
  position: fixed;
  height: 1000px;
  /* width: 100vw; */
  z-index: -2;
}

.background-overlay {
  background-color: rgba(64, 0, 128, 0.8);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.page {
  position: absolute;
  top: 20%;
  width: 960px;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}

.home-main-body {
  margin-top: 2rem;
  padding: 0 1.5rem;
}

.code-icon {
  color: #ff00ff;
  display: inline-block;
  margin-right: 1rem;
  position: relative;
  top: -0.3rem;
}

.main-name-div {
  display: inline-block;
}

.main-name {
  font-size: 2rem;
}

.main-name-2 {
  color: #ff00ff;
}

.nav-options {
  float: right;
}

.nav-option-0 {
  display: inline-block;
  padding: 1rem;
  transition: border;
  transition-duration: 200ms;
}

.nav-option-1 {
  display: inline-block;
  padding: 1rem;
  border-bottom: 0.2rem solid #ff00ff;
}

.nav-option-0:hover,
.nav-option-1:hover {
  cursor: pointer;
  border-bottom: 0.2rem solid #ff00ff;
  font-weight: bold;
}

.lead {
  font-size: 4rem;
  color: white;
  border-bottom: 0.2rem solid #ff00ff;
  display: inline-block;
}

.main-paragraph {
  margin-top: 3rem;
  color: white;
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 2rem;
}

.here-link {
  color: #ff00ff;
  transition: border;
  transition-duration: 200ms;
}

.here-link:hover {
  cursor: pointer;
  border-bottom: 0.2rem solid #ff00ff;
  font-weight: bold;
}

.contact-btns {
  margin-top: 3rem;
  color: white;
}

.contact-btn-text {
  display: inline-block;
  margin-right: 1rem;
}

.contact-btn {
  transition: transform;
  transition-duration: 200ms;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  border-radius: 0.5rem;
  margin-right: 2rem;
  box-shadow: 0.1rem 0.1rem 0.3rem #1a1a1a;
}

.contact-btn:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.fa-angle-right {
  color: #ff00ff;
}

.email-icon,
.phone-icon {
  padding: 1rem;
  display: inline-block;
}

.github-icon,
.linkedin-icon {
  padding: 1rem;
}

.email-address:hover,
.phone-number:hover {
  cursor: pointer;
  border-bottom: 0.2rem solid #ff00ff;
  font-weight: bold;
}

.fa-angle-right {
  color: #ff00ff;
}

.github-link,
.linkedin-link,
.email-address,
.phone-number {
  font-size: 2rem;
  transition: border;
  transition-duration: 200ms;
}

.github-link:hover,
.linkedin-link:hover {
  cursor: pointer;
  border-bottom: 0.2rem solid #ff00ff;
  font-weight: bold;
}

.github-contact-container {
  height: 200px;
  width: 49%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-right: 0.1rem solid #ff00ff;
}

.linkedin-contact-container {
  height: 200px;
  width: 49%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.email-contact-container {
  height: 200px;
  width: 49%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-right: 0.1rem solid #ff00ff;
}

.phone-contact-container {
  height: 200px;
  width: 49%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.top-two-contacts {
  border-bottom: 0.1rem solid #ff00ff;
}

.project-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  padding: 0 1rem;
}

.project-box {
  display: inline-block;
  text-align: center;
  width: 400px;
}

.project-box:hover {
  cursor: pointer;
}

.project-box:hover > .laptop-img {
  transform: scale(1.1, 1.1);
}

.project-box:hover > .project-title {
  text-decoration: underline;
  text-decoration-color: #ff00ff;
}

.project-title {
  font-size: 2rem;
  display: inline-block;
  margin: 1rem 0;
  transition: transform;
  transition-duration: 200ms;
}

.laptop-img {
  width: 400px;
  height: 400px;
  transition: transform;
  transition-duration: 200ms;
}

.footer-fixed {
  position: fixed;
  bottom: 1rem;
  width: 960px;
  text-align: center;
}

.footer-static {
  position: static;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.copyright-year {
  color: #ff00ff;
  display: inline-block;
}
